.addButton{
    border-radius: 50%;
    border: 3px solid aquamarine;
    background-color: aquamarine;
    width: 60px;
    height: 60px;
    font-size: 35px;
    position: fixed;
    bottom: 24px;
    right: 24px;
}
