.TodoSearch{
    border: 3px solid slategray;
    border-radius: 16px;
    display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 25px; 
}
.search{
    display: flex;
    justify-content: center;
}
input{
    color: slategray;
    text-align: center;
}